<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/_head %>

    <!-- App JS -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/create_event.js"></script>
    
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <!-- Page-specific (main) content here -->
    <main class="new-event-container">
    <p>create event</p>
    <form class="create-event" method="POST" action="/new"> 
        <label> Event name: </label> 
        <input id="title" type="text" name="title" placeholder="event title"/> <br>
        <label> Location: </label> 
        <input id="location" type="text" name="location" placeholder="location"> <br>
        <label> Description: </label>
        <input id="description" type="text" name="description" placeholder="description"> <br>   
        <p id="datepair">
          <input type="text" class="date start" placeholder="start date" />
          <input type="text" class="time start" placeholder="start time" /> to
          <input type="text" class="time end" placeholder="end time" />
          <input type="text" class="date end" placeholder="end date" />
        </p>
        <button><a href="/event/eventid">Submit</a></button>
    </form> 
       
    </main> 

    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
