<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <!-- Page-specific (main) content here -->
    <main class="new-event-container">
       
    </main> 

    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
