<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    
    <!-- App JS -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/create_event.js"></script>
    
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <!-- Page-specific (main) content here -->
    <main class="new-event-container">
    <p>create event</p>
    <form class="create-event" method="POST" action="/api/events/"> 
        <label> Event name: </label> 
        <input id="title" type="text" name="title" placeholder="event title"/> <br>
        <label> Location: </label> 
        <input id="location" type="text" name="location" placeholder="location"> <br>
        <label> Description: </label>
        <input id="description" type="text" name="description" placeholder="description"> <br>   
        <section class="timeslot-container">  
          <p id="datepair">
            <input type="text" class="date start" name="start_date" placeholder="start date" />
            <input type="text" class="time start" name="start_time" placeholder="start time"/> to
            <input type="text" class="time end" name="end_time" placeholder="end time" />
            <input type="text" class="date end" name="end_date" placeholder="end date" />
          </p>
        </section>  
        <p type="text" name="Counter" class="Counter" > 1 </p>
        <button class="add-timeslot"><span><i class="fa fa-plus-circle"></i></span></button>
        <button id="submit-btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>


        <!-- Popup Message Box-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...share link here...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
        </div>
    </form>


    </main> 
    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>