<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
    <!-- App JS -->
    <script type="text/javascript" src="/scripts/event_results.js"></script> 
  </head>
  
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <!-- Page-specific (main) content here -->
    <main class="event-page-container">
    <p> hello world <%=title%> </p>
    </main> 

    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
