.event-info-container {
  margin: 100px 110px 30px;
  padding: 10px 30px 10px;
  text-align: center;
  background-color: white;
  color: grey;
  border-radius: 5px;

}

.shareEventTitle {
  font-weight: 700;
  color: grey;
  border-bottom: solid;
  margin: 40px;
  border-color: lightgrey;

}

.eventInfo {
  font-weight: 600; 
}

.sharingDescription {
  margin-top: 30px;
}


.event-info-container .input-group {
  display: flex;
  justify-content: center;
}


.eventUrl {
  width: 23%;
  border: 1px solid #ced4da;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;;
}

.btn-outline-secondary {
  background-color: #db3846;
  border-color: #db3846;
  color: white;
}