body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
  background-color: #EEE;
}

.index-container {
  margin: auto;
  width: 500px;
  align-content: center;
  background-color: white;
  padding: 110px 10px;
}
