body {
  background-color: white;
  font-family: 'Archivo black', sans-serif;
  margin: 0;
  color: lightgray;


  // h1 {
  //   color: #244751;
  // }
}

.index-container {
  margin: auto;
  width: 600px;
  text-align: center;
  opacity: 0%;
  padding: 110px 10px;
}
