@import 'variables';
@import 'nav';

body {
  background-color: white;
  font-family: 'Karla', sans-serif;
  margin: 0;
  color: white;

  &.bg {
    background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .h1-reponsive.white-text{
    font-weight: bold;
  }


  .index-container {
    margin: auto;
    width: 600px;
    text-align: left;
    opacity: 0%;
    padding: 110px 10px;
  }

  .new-event-container {
    margin: auto;
    width: 800px;
    text-align: left;
    padding: 110px 10px;
  }

  #title {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }

  #location {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }

  #description {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }

  .date.start {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }

  .date.end {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }


  .time.start {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }

  .time.end {
    border-radius: 4px;
    border: solid 0.5px;
    border-color: white;
  }

  .create-event{
    text-align: center;
  }
  .extraIimeSlots{
    font-size: x-large;
  }

}



