.nav-bar { 
  background-color: #54b4cf;
  height: 100px;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav-bar .header {
  color: #e8fdff;
  font-size: 2em;
  line-height: 2em;
  vertical-align: middle;
  padding-left: 10px;
}